#fireflyCursor {
  position: fixed;

  z-index: 9999;
  left: -2px;
  top: -3px;
  height: 0;
  width: 0;

  animation: pulse-shadow 4s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes pulse-shadow {
  from {
    box-shadow: rgba(120, 150, 255, 0.2) 0px 0px 80px 60px;
  }

  to {
    box-shadow: rgba(180, 210, 255, 0.1) 0px 0px 90px 90px;
  }
}

#fireflyCursor.click {
  animation: pulse-shadow-click 0.8s forwards ease-out;
}

@keyframes pulse-shadow-click {
  0% {
    box-shadow: var(--random-color) 0px 0px 5px 5px;
  }
  65% {
    box-shadow: rgba(200, 200, 255, 0.1) 0px 0px 120px 120px;
  }
  100% {
    box-shadow: rgba(120, 150, 255, 0.2) 0px 0px 80px 60px;
  }
}
