.fireflyCursor {
  z-index: 9999;
  height: 0;
  width: 0;
  animation: pulse-shadow 5s infinite alternate ease-in-out,
    micro-drift 10s infinite forwards linear;
  transition: opacity 1s ease;
  position: relative;
  opacity: 0;
}

.fireflyCursor.visible {
  opacity: var(--opacity);
}
.fireflyCursor.click {
  animation: pulse-shadow-click 2.5s forwards ease-out,
    micro-drift 10s infinite forwards linear;
}

@keyframes pulse-shadow {
  from {
    box-shadow: var(--pulse-from) 0px 0px calc(80px * var(--size-multiplier))
      calc(60px * var(--size-multiplier));
  }
  to {
    box-shadow: var(--pulse-to) 0px 0px calc(90px * var(--size-multiplier))
      calc(90px * var(--size-multiplier));
  }
}

@keyframes pulse-shadow-click {
  0% {
    box-shadow: rgba(
        var(--random-color-r),
        var(--random-color-g),
        var(--random-color-b),
        0.5
      )
      0px 0px 5px 5px;
  }
  15% {
    box-shadow: rgba(
        var(--random-color-r),
        var(--random-color-g),
        var(--random-color-b),
        0.4
      )
      0px 0px calc(100px * var(--size-multiplier))
      calc(100px * var(--size-multiplier));
  }
  100% {
    box-shadow: var(--pulse-from) 0px 0px calc(80px * var(--size-multiplier))
      calc(60px * var(--size-multiplier));
  }
}

@keyframes micro-drift {
  0% {
    left: 0px;
    top: 0px;
  }
  1% {
    left: 0.6px;
    top: 1.1px;
  }
  2% {
    left: 1.12px;
    top: 2.24px;
  }
  3% {
    left: 1.56px;
    top: 3.42px;
  }
  4% {
    left: 1.94px;
    top: 4.62px;
  }
  5% {
    left: 2.24px;
    top: 5.84px;
  }
  6% {
    left: 2.46px;
    top: 7.08px;
  }
  7% {
    left: 2.6px;
    top: 8.32px;
  }
  8% {
    left: 2.68px;
    top: 9.58px;
  }
  9% {
    left: 2.66px;
    top: 10.84px;
  }
  10% {
    left: 2.58px;
    top: 12.1px;
  }
  11% {
    left: 2.4px;
    top: 13.34px;
  }
  12% {
    left: 2.16px;
    top: 14.56px;
  }
  13% {
    left: 1.82px;
    top: 15.78px;
  }
  14% {
    left: 1.42px;
    top: 16.98px;
  }
  15% {
    left: 0.96px;
    top: 18.14px;
  }
  16% {
    left: 0.4px;
    top: 19.26px;
  }
  17% {
    left: -0.22px;
    top: 20.36px;
  }
  18% {
    left: -0.9px;
    top: 21.42px;
  }
  19% {
    left: -1.64px;
    top: 22.42px;
  }
  20% {
    left: -2.46px;
    top: 23.38px;
  }
  21% {
    left: -3.32px;
    top: 24.28px;
  }
  22% {
    left: -4.26px;
    top: 25.14px;
  }
  23% {
    left: -5.22px;
    top: 25.94px;
  }
  24% {
    left: -6.26px;
    top: 26.66px;
  }
  25% {
    left: -7.32px;
    top: 27.32px;
  }
  26% {
    left: -8.42px;
    top: 27.92px;
  }
  27% {
    left: -9.56px;
    top: 28.44px;
  }
  28% {
    left: -10.74px;
    top: 28.88px;
  }
  29% {
    left: -11.94px;
    top: 29.26px;
  }
  30% {
    left: -13.16px;
    top: 29.56px;
  }
  31% {
    left: -14.4px;
    top: 29.78px;
  }
  32% {
    left: -15.64px;
    top: 29.92px;
  }
  33% {
    left: -16.9px;
    top: 30px;
  }
  34% {
    left: -18.16px;
    top: 29.98px;
  }
  35% {
    left: -19.42px;
    top: 29.9px;
  }
  36% {
    left: -20.66px;
    top: 29.72px;
  }
  37% {
    left: -21.88px;
    top: 29.48px;
  }
  38% {
    left: -23.1px;
    top: 29.14px;
  }
  39% {
    left: -24.3px;
    top: 28.74px;
  }
  40% {
    left: -25.46px;
    top: 28.28px;
  }
  41% {
    left: -26.58px;
    top: 27.72px;
  }
  42% {
    left: -27.68px;
    top: 27.1px;
  }
  43% {
    left: -28.74px;
    top: 26.42px;
  }
  44% {
    left: -29.74px;
    top: 25.68px;
  }
  45% {
    left: -30.7px;
    top: 24.86px;
  }
  46% {
    left: -31.6px;
    top: 24px;
  }
  47% {
    left: -32.46px;
    top: 23.06px;
  }
  48% {
    left: -33.22px;
    top: 22.1px;
  }
  49% {
    left: -33.98px;
    top: 21.06px;
  }
  50% {
    left: -34.64px;
    top: 20px;
  }
  51% {
    left: -35.24px;
    top: 18.9px;
  }
  52% {
    left: -35.76px;
    top: 17.76px;
  }
  53% {
    left: -36.2px;
    top: 16.58px;
  }
  54% {
    left: -36.58px;
    top: 15.38px;
  }
  55% {
    left: -36.88px;
    top: 14.16px;
  }
  56% {
    left: -37.1px;
    top: 12.92px;
  }
  57% {
    left: -37.24px;
    top: 11.68px;
  }
  58% {
    left: -37.32px;
    top: 10.42px;
  }
  59% {
    left: -37.3px;
    top: 9.16px;
  }
  60% {
    left: -37.22px;
    top: 7.9px;
  }
  61% {
    left: -37.04px;
    top: 6.66px;
  }
  62% {
    left: -36.8px;
    top: 5.44px;
  }
  63% {
    left: -36.46px;
    top: 4.22px;
  }
  64% {
    left: -36.06px;
    top: 3.02px;
  }
  65% {
    left: -35.6px;
    top: 1.86px;
  }
  66% {
    left: -35.04px;
    top: 0.74px;
  }
  67% {
    left: -34.42px;
    top: -0.36px;
  }
  68% {
    left: -33.74px;
    top: -1.42px;
  }
  69% {
    left: -33px;
    top: -2.42px;
  }
  70% {
    left: -32.18px;
    top: -3.38px;
  }
  71% {
    left: -31.32px;
    top: -4.28px;
  }
  72% {
    left: -30.38px;
    top: -5.14px;
  }
  73% {
    left: -29.42px;
    top: -5.94px;
  }
  74% {
    left: -28.38px;
    top: -6.66px;
  }
  75% {
    left: -27.32px;
    top: -7.32px;
  }
  76% {
    left: -26.22px;
    top: -7.92px;
  }
  77% {
    left: -25.08px;
    top: -8.44px;
  }
  78% {
    left: -23.9px;
    top: -8.88px;
  }
  79% {
    left: -22.7px;
    top: -9.26px;
  }
  80% {
    left: -21.48px;
    top: -9.56px;
  }
  81% {
    left: -20.24px;
    top: -9.78px;
  }
  82% {
    left: -19px;
    top: -9.92px;
  }
  83% {
    left: -17.74px;
    top: -10px;
  }
  84% {
    left: -16.48px;
    top: -9.98px;
  }
  85% {
    left: -15.22px;
    top: -9.9px;
  }
  86% {
    left: -13.98px;
    top: -9.72px;
  }
  87% {
    left: -12.76px;
    top: -9.48px;
  }
  88% {
    left: -11.54px;
    top: -9.14px;
  }
  89% {
    left: -10.34px;
    top: -8.74px;
  }
  90% {
    left: -9.18px;
    top: -8.28px;
  }
  91% {
    left: -8.06px;
    top: -7.72px;
  }
  92% {
    left: -6.96px;
    top: -7.1px;
  }
  93% {
    left: -5.9px;
    top: -6.42px;
  }
  94% {
    left: -4.9px;
    top: -5.68px;
  }
  95% {
    left: -3.94px;
    top: -4.86px;
  }
  96% {
    left: -3.04px;
    top: -4px;
  }
  97% {
    left: -2.18px;
    top: -3.06px;
  }
  98% {
    left: -1.38px;
    top: -2.1px;
  }
  99% {
    left: -0.66px;
    top: -1.06px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
