#fireflyCursor {
  position: fixed;
  z-index: 9999;
  left: -2px;
  top: -3px;
  height: 0;
  width: 0;
  animation: pulse-shadow 4s infinite alternate cubic-bezier(0.6, 0.2, 0.4, 1),
    micro-drift 40s infinite alternate ease-in-out;
  opacity: 0;
  transition: opacity 1s ease;
  position: relative;
}

@keyframes pulse-shadow {
  from {
    box-shadow: rgba(107, 139, 255, 0.3) 0px 0px 80px 60px;
  }
  to {
    box-shadow: rgba(164, 201, 255, 0.2) 0px 0px 90px 90px;
  }
}

#fireflyCursor.click {
  animation: pulse-shadow-click 0.8s forwards ease-out;
}

@keyframes pulse-shadow-click {
  0% {
    box-shadow: var(--random-color) 0px 0px 5px 5px;
  }
  30% {
    box-shadow: rgba(200, 200, 255, 0.1) 0px 0px 100px 100px;
  }
  100% {
    box-shadow: rgba(107, 139, 255, 0.3) 0px 0px 80px 60px;
  }
}

@keyframes micro-drift {
  0% {
    top: 0px;
    left: 0px;
  }
  10% {
    left: 10px;
    top: -6px;
  }
  25% {
    left: -16px;
    top: 4px;
  }
  40% {
    left: 6px;
    top: 18px;
  }
  55% {
    left: -2px;
    top: 2px;
  }
  75% {
    left: 14px;
    top: -10px;
  }
  90% {
    left: -20px;
    top: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
